@import "bootstrap/dist/css/bootstrap.min.css"; 
@import "cropperjs/dist/cropper.css"; 
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
        font-family: 'Roboto';
        src: url('../../public/Fonts/Roboto/Roboto-Black.ttf');
}

@font-face {
        font-family: 'Raleway';
        src: url('../../public/Fonts/Raleway/Raleway-VariableFont_wght.ttf');
}

@font-face {
        font-family: 'Wittgenstein';
        src: url('../../public/Fonts/Wittgenstein/Wittgenstein-VariableFont_wght.ttf');
}

@font-face {
        font-family: 'Akaya';
        src: url('../../public/Fonts/Akaya_Telivigala/AkayaTelivigala-Regular.ttf');
}

@layer base {
        body {
                @apply tw-font-wittgenstein;
        }

        svg {
                @apply tw-cursor-pointer dark:tw-fill-white;
        }

        header section div div svg, header section div div img{
                @apply tw-w-[15px] sm:tw-w-[16px] md:tw-w-[20px] lg:tw-w-[30px] tw-h-[15px] sm:tw-h-[16px] md:tw-h-[20px] lg:tw-h-[30px] dark:tw-fill-white;
        }

        input, select, textarea {
                @apply tw-font-raleway; 
        }
        
        .chatbot input{
                @apply tw-bg-gray dark:tw-bg-blue dark:tw-text-white tw-outline-none tw-p-3 tw-rounded-double md:tw-rounded-triple tw-font-wittgenstein; 
        }

        button{
                @apply tw-font-roboto tw-outline-none; 
        }

        content section > div input, content section > div select, content section > div textarea, .details input, .details textarea{
                @apply tw-bg-gray dark:tw-bg-blue dark:tw-text-white tw-outline-none tw-p-2 md:tw-p-5 tw-rounded-double md:tw-rounded-triple tw-font-wittgenstein; 
        }

        textarea{
                @apply tw-h-[120px]
        }

        content section > div label{
                @apply tw-font-raleway tw-font-bold tw-text-[15px] sm:tw-text-[18px] tw-mt-6;
        }

        footer section:not(:nth-child(1)), content section > div{
                @apply tw-w-[85%] xl:tw-w-[1350px] tw-mx-auto; 
        }

        footer section:nth-child(2) > *{
                @apply tw-h-[170px]
        }

        footer section:nth-child(2) > div:not(:nth-child(1)) {
                @apply tw-flex tw-flex-col tw-justify-between 
        }

        footer section:nth-child(2) div:not(:nth-child(1)) h4{
                @apply tw-font-raleway tw-font-bold tw-text-[18px] xl:tw-text-[20px]; 
        }

        footer section:nth-child(2) div:not(:nth-child(1)) ul{
                @apply tw-flex tw-flex-col tw-gap-1; 
        }

        footer section:nth-child(2) div:not(:nth-child(1)) ul li{
                @apply tw-text-gray_text tw-border-b tw-border-transparent hover:tw-border-b-gray_text hover:tw-rounded-[4px] tw-w-fit tw-transition tw-ease-in-out tw-duration-1000; 
        }

        footer section div div svg{
                @apply tw-fill-black dark:tw-fill-white tw-w-[30px] tw-h-[30px] tw-border tw-rounded-default  tw-p-[6px] hover:tw-bg-black dark:hover:tw-bg-white hover:tw-fill-white dark:hover:tw-fill-dark_blue tw-transition tw-ease-in-out tw-duration-1000;
        }

        .info div{
                @apply tw-w-full; 
        }

        .info div span{
                @apply tw-font-raleway tw-font-bold tw-text-[16px] md:tw-text-[20px]; 
        }

        .chatbot_messages > div{
                @apply tw-mb-10; 
        }

        .chatbot_messages > div span{
                @apply  tw-font-raleway tw-font-bold tw-text-[20px]; 
        }

        .chatbot_messages > div div{
                @apply tw-bg-gray dark:tw-bg-blue dark:tw-text-white tw-outline-none tw-p-2 md:tw-p-4 tw-rounded-double md:tw-rounded-triple tw-font-wittgenstein; 
        }

        .details > div span:first-child, .details h3{
                @apply tw-font-bold tw-font-raleway tw-text-[18px] sm:tw-text-[22px]; 
        }

        .details > div span:last-child{
                @apply tw-font-bold tw-font-wittgenstein tw-text-[13px] sm:tw-text-[18px]; 
        }

        .search_bar li{
                @apply  tw-text-[16px] md:tw-text-[18px] tw-border-b tw-p-2 tw-cursor-pointer hover:tw-bg-gray dark:hover:tw-bg-blue tw-transition tw-ease-in-out tw-duration-700; 
        }

        /* .details > div img{
                @apply tw-w-[250px] tw-mt-3 tw-rounded-default; 
        } */

        /* .details button{
                @apply tw-text-white tw-w-[120px] tw-p-1 tw-rounded-triple; 
        } */
 }

